<nav class="navbar navbar-expand-sm bg-info navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ISET</a>

        <button class="navbar-toggler" type="button" data-bs- toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria- controls="navbarNavAltMarkup" aria-expanded="false" aria- label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/etudiants">Etudiants</a>
                <a class="nav-link" href="/add-etudiant">Ajout etudiant</a>
                <a class="nav-link" href="#">Utilisateur</a>
            </div>
        </div>
    </div>
</nav>